body, html, div, span, a {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  overflow: hidden;
  touch-action: none;
}

body.g *, body.g {
  cursor: move !important;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
}



.r {float: right;}              /*Float right*/
.l {float: left;}               /*Float left*/
.i {pointer-events: none;}      /*Invisible to clicks*/
.u {                            /*Unselectable*/
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select :none;
  cursor: default;
}
.vl {                           /*Vertical line*/
  height: 80%;
  margin: 0 16px;
  transform: translate(0,10%);
  width: 1px;
  background-color: black;
  border-radius: 100px;
}
  .vl.b {                         /*Bold*/
    width: 2px;
  }
  .vl.w {                         /*White*/
    background-color: white;
  }
  .vl.f {                         /*Full*/
    height: 100%;
    transform: translate(0,0);
  }
  .vl.s {                         /*Slim margins*/
    margin: 0 4px;
  }
  .vl.n {                         /*No margins*/
    margin: 0;
  }
.hl {                           /*Horizontal line*/
  height: 1px;
  width: 80%;
  margin: 8px 0;
  transform: translate(10%,0);
  background-color: black;
}
  .hl.b {                         /*Bold*/
    height: 2px;
  }
  .hl.w {                         /*White*/
    background-color: white;
  }
  .hl.f {                         /*Full*/
    width: 100%;
    transform: translate(0,0);
  }
  .hl.s {                         /*Slim margins*/
    margin: 4px 0;
  }
  .hl.n {                         /*No margins*/
    margin: 0;
  }
.sel {cursor: pointer;}         /*Link cursor*/
.cur {cursor: default;}         /*Arrow cursor*/
.oh {overflow: hidden;}         /*Hide overflow*/


#sidebar {
  position: absolute;
  width: 351px;
  bottom: 0;
  top: 0;
  left: 0;
  background-color: #fe3a09;
  transition: transform 0.6s;
  overflow-x: hidden;
  transform: translate(-280px);
  z-index: 2;
}
  #sidebar.t {
    transform: translate(0);
  }
  #sidebar.m {
    transition: transform 0s;
  }

#icons {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 71px;
  overflow: hidden;
}
  #icons svg{
    cursor: pointer;
    transition: filter .25s ease-out, -webkit-filter .25s ease-out;
    filter: drop-shadow(0 0 5px transparent);
    -webkit-filter: drop-shadow(0 0 5px transparent);
    display: block;
    width: 70px;
  }
  #icons svg:hover{
    filter: drop-shadow(0 0 5px white);
    -webkit-filter: drop-shadow(0 0 5px white);
  }
  #icons svg:not(#icon-menu) {
    height: 70px;
  }
  #icon-menu {
    height: 60px;
  }

#sidebar.m #icon-menu {
  filter: drop-shadow(0 0 5px white);
  -webkit-filter: drop-shadow(0 0 5px white);
}

#sidebar-cont {
  top: 0;
  bottom: 0;
  left: 0;
  right: 71px;
  overflow: hidden;
  position: absolute;
}
  #sidebar-cont > div {
    top: 0;

  }

#icons-right-shadow, #icons-left-shadow, #body-left-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 10px;
  z-index: 200;
  transition: opacity 0.6s;
}
  #icons-right-shadow.m, #icons-left-shadow.m, #body-left-shadow.m {
    transition: opacity 0s;
  }
#icons-right-shadow {
  right: 0;
  background: linear-gradient(to right, transparent, rgba(0,0,0,.5));
}
#icons-left-shadow {
  left: 0;
  background: linear-gradient(to left, transparent, rgba(0,0,0,.5));
}
#body-left-shadow {
  left: 71px;
  background: linear-gradient(to left, transparent, rgba(0,0,0,.5));
  transition: transform 0.6s , opacity 0.6s;
  width: 14px;
}
  #body-left-shadow.m {
    transition: transform 0s, opacity 0s;
  }
  #body-left-shadow.t {
    transform: translate(280px);
  }


#top {
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fe3a09;
  position: absolute;
  box-shadow: 0 0 10px;
}

#title {
  height: 60px;
  box-sizing: border-box;
  font-size: 48px;
  font-weight: 600;
  font-family: Dotum;
  top: 0;
  left: 0;
  padding: 5px;
  line-height: 1;
  color: white;
  position: absolute;
  letter-spacing: -1px;
  transition: transform 0.6s;
}
  #title.m {
    transition: transform 0s;
  }

#body {
  position: absolute;
  left: 71px;
  top: 0;
  bottom: 0;
  right: 0;
  transition: transform 0.6s;
}
  #body.m {
    transition: transform 0s;
  }
  #body.t {
    transform: translate(240px);
  }

#tooltips {
  position: absolute;
  left: 71px;
  top: 0;
  bottom: 0;
  width: 140px;
  transform: translate(0);
  transition: transform 0.6s;
  z-index: 3;
}
  #tooltips.m {
    transition: transform 0s;
  }

.tip {
  left: 0;
  right: 0;
  height: 70px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  display: flex;
  position: absolute;
  align-items: center;
}
  .tip.h {
    opacity: 1;
  }
  .tip span {
    color: black;
    font-family: "Segoe UI";
    font-size: 12px;
    background: white;
    border: 1px solid grey;
    margin-left: 7px;
    padding: 2px 5px;
  }

#content {
  top: 61px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 9px;
  overflow: auto;
}
  #content-shade {
    top: 61px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #120f25;
    opacity: 0;
    z-index: 30;
    transition: opacity 0.6s;
  }
    #content-shade.s {
      opacity: 0.2;
    }
    #content-shade.m {
      transition: opacity 0s;
    }
